
<h3>Hi, {{{user.username}}} !</h3>


{{!--<h2 class="page-header">DashboarD</h2>--}}
{{!--<hr>--}}
{{!--Name:<h3>{{{user.name}}}</h3>--}}
{{!--Username:<h3> {{{user.username}}}</h3>--}}
{{!--Email-id:<h4>{{{user.email}}}</h4>--}}